.DS_Store
.bash_history
.CFUserTextEncoding
.viminfo
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
.ssh/
.dropbox/
.colorscheme/*
!.colorscheme/iterm2-colors-solarized
!.colorscheme/vim-colors-solarized
