.DS_Store
.bash_history
.CFUserTextEncoding
.viminfo
.lesshst
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Applications/
.bash_sessions/
.cache/
.config/
.cups/
.gnupg/
.htoprc
.local/
.Trash/
.ssh/
.dropbox/
.vim/bundle/syntastic
.colorscheme/*
!.colorscheme/iterm2-colors-solarized
!.colorscheme/vim-colors-solarized
