# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Akshay Narayan
    email = akshayn@icsi.berkeley.edu
    editor = vim

[color]
    ui = auto
    interactive = auto
    diff = auto

[log]
    decorate = true
    abbrevCommit = true

[diff]
    identHeuristic = true

[alias]
    lg = log --oneline --graph --all --color
    st = status
    co = commit -a -m "tmp"

[core]
	editor = vim

[merge]
    ff = only

[pull]
	ff = only

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
