# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Akshay Narayan
    email = akshay.narayan@berkeley.edu
    editor = "vim"

[color]
    ui = auto
    interactive = auto
    diff = auto

[log]
    decorate = true
    abbrevCommit = true

[alias]
    lg = log --oneline --graph --all --color
    st = status
    co = commit -a -m "tmp"
